<header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur excepturi ullam nulla quas fugit esse quaerat corporis delectus fugiat veritatis corrupti, harum consectetur facere quo odit. Pariatur error ea numquam.</p>
            </div>
        </div>
    </header>